<div style="z-index: 6" class="rwd_logo">
			<button class="hamburger rwd_ham">&#9776;</button>
 			<button class="cross">&#735;</button>
</div>

<div class="menu">
	<ul>
    <a href="/public/woman"><li>WOMEN</li></a>
    <a href="/public/man"><li>MEN</li></a>
    <a href="/public/watch"><li>WATCH</li></a>
    <a href="/public/jewelry"><li>JEWELRY</li></a>
    <a href="/public/beauty"><li>Beauty</li></a>
    <a href="/public/lifestyle"><li>LIFESTYLE</li></a>
    <a href="/public/retailer"><li>RETAILER</li></a>
    <a href="/public/others"><li>OTHERS</li></a>
    <a href="/public/about"><li>ABOUT COUTURE</li></a>
    <a href="/public/solutions"><li>SOLUTIONS</li></a>
    <a href="/public/contact"><li>CONTACT US</li></a>
	</ul>
</div> 