<div class="totop" >
	<div class="gototop">
		<a href="#"> <div class="arrowgototop"></div> </a>
	</div>
</div>
<div class="tr_footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tr_widget">
					<div class="tr_footer_title">
						<h3>About Us</h3>
					</div>
					<div class="tr_footer_description">
						台北市大安區忠孝東路4段290號10樓1007室
						<br>
						<br>
						Rm. 1007, 10F., No.290, Sec. 4, Zhongxiao E. Rd., Da’an Dist., Taipei City 106, Taiwan (R.O.C.)
						<br>
						<br>
						<b>Phone:</b>(+886)933-691203
						<br>
						<b>Email:</b> leonakuan@couture.consulting
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tr_widget">
					<div class="tr_footer_title">
						<h3>Focus Area</h3>
					</div>
					<div class="tr_footer_description">
						<div class="tr_post1">
							<a href=""><img src="http://placehold.it/90x60" class="img-responsive tr_opacity" alt=""> </a>
						</div>
						<div class="tr_post_info">
							<h4>TAIWAN</h4>
						</div>
					</div>
					<div class="tr_footer_description">
						<div class="tr_post1">
							<a href=""><img src="http://placehold.it/90x60" class="img-responsive tr_opacity" alt=""> </a>
						</div>
						<div class="tr_post_info">
							<h4>CHINA</h4>
						</div>
					</div>
					<div class="tr_footer_description">
						<div class="tr_post1">
							<a href=""><img src="http://placehold.it/90x60" class="img-responsive tr_opacity" alt=""> </a>
						</div>
						<div class="tr_post_info">
							<h4>HONG KONG</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="tr_widget">
					<div class="tr_footer_title">
						<h3>Brands</h3>
					</div>
					<div class="tr_footer_description">
						Our consultants love fashion,want to meet a new team to find your right staff?<br>
						<button class="tr_btn btn-small">Contact Us</button>
					</div>
					<div class="tr_footer_title">
						<h3>Candidate</h3>
					</div>
					<div class="tr_footer_description">
						If you love fashion Industry, We are the best choise who can help you on the right place.<br>
					<button class="tr_btn btn-small">Send us your resume private</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="tr_copyright">
			Couture Consulting 古卓諮詢有限公司 | All Rights Reserved
		</div>
	</div>
</footer>