<% @title= "About Couture Consulting" %> <!--About Finish-->

<div id="about" class="tr_page_section" >
	<div class="space"></div>
	
  <%= render partial: 'shared/hamburger' %>
	
	 <a href="/"> <img class="logo" src="/images/logo-dark.png"></a>

	<div class="our_experience_bg">
		  <div class="text-center">
			<div class="tr_head_title push-down-10 color_black " data-scrollreveal="enter from the bottom over 1s">
        <h3 class="color_black"> <br>Couture Consulting</h3>
        <h3 class="color_black"> <br>Focus on retail luxury and fashion industries</h3>
			</div>
		  </div>
		
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <h4 class="couture-title color_black"><span>ASIA FOCUSED</span></h4>
          <p class="color_black">
          Couture Consulting’s talent pool covers Asia Pacific markets, including Greater China, Southeast Asia and Oceania countries. We create strong bonding with people across Asia to be able to connect talents with international opportunities.
          </p>
          <br>
          <h4 class="couture-title color_black"><span>RETAIL FOCUSED</span></h4>
          <p class="color_black">
          Couture Consulting owns a group of consultants who possess deep understanding of retail market demands and trends. We are equipped with extensive experiences in cooperating with leading brands, be able to provide tailor-made recruitment services for the retail luxury and fashion market.          </p>
          <br>
          <h4 class="couture-title color_black"><span>TALENT FOCUSED:</span></h4>
          <p class="color_black">
          Couture Consulting acquires the CRM (Client Relationship Management) methods from luxury brands that we maintain solid relationship with each potential candidates. We act as professional career advisor and have built strong trust with the talents.
          </p>
          <br>  
        </div>
        <div class="col-md-3">
        </div>
      </div>
  </div>

	  
	
	

    <div class="row">

      <div class="col-md-12 category-picture">
        
          <section class="container section team-2col ">
              <header class="sec-heading">
                <h2>Our Experience</h2>
                <span class="subheading">We are creative professionals</span>
              </header>

              <!-- Item 1 -->
              <div class="col-md-6">
              <div class="tr_new_slider_box">
                <div class="tr_common_slider">
                  <div class="tr_recentimage">
                    <div class="tr_overdefult">
                              <div class="tr_recentdescription">
                                <h4>Corporate Functions</h4>
                                <div class="tr-home-portfolio-categories">

                               <div class="col-lg-4">
                                <p><u>Merchandising</u></p>
                                <div >

                                <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>


                              <div class="col-lg-4">
                                <p><u>Marketing & PR</u></p>
                                <div >

                               <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>


                              <div class="col-lg-4">
                                <p><u>Training & Development</u></p>
                                <div >

                               <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>
  
                              <div class="col-lg-4">
                                <p><u>Visual Merchandising</u></p>
                                <div >

                               <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>

                              <div class="col-lg-4">
                                <p><u>Digital & Ecommerce</u></p>
                                <div >

                               <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>

                              <div class="col-lg-4">
                                <p><u>Supporting Functions</u></p>
                                <div >

                               <td align="center"> 
                              <a href="#"> <img src="/images/prettyphoto/store.png" style="float:center" alt=""> </a>
                              </td>
                              </div>
                              </div>


      




                                  



                                </div>
                              </div>

                            </div>
                            <div class="tr_image2">
                              <a href="#"> <img src="/images/prettyphoto/service1.jpg" alt=""> </a>
                            </div>
                          </div>
                        </div>
              </div> 
              </div> 
              <div class="col-md-6">
              <div class="tr_new_slider_box">

                                 <div class="tr_common_slider">
                          <div class="tr_recentimage">
                            <div class="tr_overdefult">

                              <div class="tr_recentdescription">
                                <h4>Corporate Functions</h4>
                                <div class="tr-home-portfolio-categories">
                                  <p><u>Merchandising :</u>．Regional Merchandising Manager, AP ．Merchandising Director, CN ．Merchandising Allocator, AP
                  </p>
                  <p><u>Training :</u>．Regional Training Manager, AP ．Training Manager, CN ．Training Manager, HK
                  </p>
                  <p><u>Marketing :</u>．Brand Manager, TW ．Senior Product Manager, GC ．Marketing Specialist, TW
                  </p>
                  <p><u>VM, BD, IT, etc :</u>．Visual Merchandiser, TW ．Business Development Manager, TW ．IT Manager, TW
                  </p>
                                </div>
                              </div>

                            </div>
                            <div class="tr_image2">
                              <a href="#"> <img src="/images/prettyphoto/service2.jpg" alt=""> </a>
                            </div>
                          </div>
                        </div>
              </div> 
              </div> 
          </div>                
          </section><!-- / .contianer -->
    </div><!-- / .gray-bg -->
        	
		  <div class="our_client">
          <section class="container testimonials-3col">
            <div class="row section">

              <header class="sec-heading">
                <h2>Some of our clinets</h2>
                <span class="subheading subheading_black">Read some of the testimonials from our amazing clients</span>
              </header>
              
        
            <!-- Client Slider -->
              <div class="row">
              <ul class="t-clients clients-slider ws-m">
                <li><img class="picture-fixed" src="/images/dior.jpg" alt="Client" ></li>
                <li><img class="picture-fixed" src="/images/gucci.jpg" alt="Client" ></li>
                <li><img class="picture-fixed" src="/images/gogoro.jpg" alt="Client" ></li>
                <li><img class="picture-fixed" src="/images/puma.jpg" alt="Client" ></li>
                <li><img class="picture-fixed" src="/images/lv.jpg" alt="Client" ></li>
                <li><img class="picture-fixed" src="/images/chanel.jpeg" alt="Client" ></li      
              </ul><!-- / .t-clients -->
              </div><!-- / .row -->
            </div>
          </section><!-- / .container -->
      </div><!-- / our_client -->
    

		<div class="row">

    <div class="grey_bg">
          <section id="services" class="container ft-cards">
            

              <header class="sec-heading">
                <h2>Our Market</h2>
              </header>
              
              <div class="row section">
              <!-- Item 1 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s">
                  <h4>Taiwan</h4>
                  <img src="/images/prettyphoto/taiwan-banner.jpg">
                </div>
              </div>

              <!-- Item 2 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s" data-wow-delay=".3s">
                  <h4>Shanghai</h4>
                  <img src="/images/prettyphoto/shen.jpg">
                </div>
              </div>

              <!-- Item 3 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s" data-wow-delay=".6s">
                  <h4>Beijing</h4>
                  <img src="/images/prettyphoto/Beijing.jpg">
                </div>
              </div>
              </div>
              
              <!-- Item 4 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s" data-wow-delay=".6s">
                  <h4>Hong Kong</h4>
                  <img src="/images/prettyphoto/hong-kong.jpg">
                </div>
              </div>
              <!-- Item 5 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s" data-wow-delay=".6s">
                  <h4>Macau</h4>
                  <img src="/images/prettyphoto/Macau.jpg">
                </div>
              </div>
              <!-- Item 6 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp p_black" data-wow-duration="1s" data-wow-delay=".6s">
                  <h4>Rest of Asia</h4>
                  <img src="/images/prettyphoto/indo.jpg">
                </div>
              </div>
              



            </div><!-- / .row -->
          </section>
        </div><!-- / .gray-bg -->
        </div><!-- row-->
        

	
</div>






<!-- ========== Scripts ========== -->

        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/google-fonts.js"></script>
        <script src="/js/jquery.easing.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="/js/smoothscroll.js"></script>
        <script src="/js/jquery.localScroll.min.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/jquery.parallax.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/countup.min.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.mb.YTPlayer.min.js"></script>
        <script src="/js/jquery.ajaxchimp.js"></script>

<!-- Definity JS -->
        <script src="/js/main.js"></script>
