<% @title="OUR CLIENT" %> <!--Portfolio-->
<div class="tr_page_section" id="portfolio">
	<div class="container">
		<div class="space"></div>
		<div class="text-center">
			<h3>Clients</h3>
		</div>
		<div class="tr_news_title_small" >
			<p>
				
			</p>
		</div>
		<div class="tr_new_slider_box">
			<ul class="tr_main_project_slider" id="news_slider">
				<li>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<h3>Chanel</h3>
									<div class="tr-home-portfolio-categories">
										In order to be irreplaceble, one must always be different
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="#" title="Video in Portfolio"> <h3>Video in Portfolio</h3> </a>
									<div class="tr-home-portfolio-categories">
										<a href="#" rel="tag">Audio,</a><a href="#" rel="tag">Videos,</a><a href="#" rel="tag">Photography</a>
									</div>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/clients/Chanel-logo.png" alt=""> </a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>
<!--Quotes Section Start-->
<div class="tr_page_section" id="quotes">
	<div class="space"></div>
	<div class="container">
		<div class="tr_quote_slider">
			<div id="tr_testimonial" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<a class="left carousel-control" href="#tr_testimonial" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a><a class="right carousel-control" href="#tr_testimonial" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="tr-article-title">
							<div class="tr_border"></div>
							<div class="tr_quote_author">
								<span class="quote-author">HONORE DE BALZAC</span>
							</div>
							<div class="tr-author-text">
								<p>
									<i class="fa fa-quote-left"></i> It is only in the act of nursing that a woman realizes her motherhood in visible and tangible fashion; it is a joy of every moment.<i class="fa fa-quote-right"></i>
								</p>
								<div class="quote-after"></div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tr-article-title">
							<div class="tr_border"></div>
							<div class="tr_quote_author">
								<span class="quote-author">COCO CHANEL</span>
							</div>
							<div class="tr-author-text">
								<p>
									<i class="fa fa-quote-left"></i>Fashion is not something that exists in dresses only. Fashion is in the sky, in the street, fashion has to do with ideas, the way we live, what is happening. <i class="fa fa-quote-right"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Quotes Section End-->