<% @title = "Contact Us" %>

          <a href="/"> <img class="logo" src="/images/logo-dark.png"></a>

<!--Contact Section Start-->
<div class="tr_page_section" id="contact">
	<div class="tr-contact-info">
		<div class="container contactcontainer">
			<div class="tr_contacthead" id="tr_contacthead">
			
				<div class="text-center">
					<h1 data-scrollreveal="enter from the bottom over 1s" class="title title1"> Contact us</h1>
					<div class="tr-contact-description">
						
					</div>
				</div>
			</div>
			<!--contact form-->
		<div class="row">
			<div class="col-lg-3">
			</div>

			<div class="col-lg-6 ">
				<div>
					<div class="form-group form_white">
						<label> Your Name(required) </label>
						<input type="text" id="uname" name="name" placeholder="" class="tr_form_control">
					</div>
					<div class="form-group form_white">
						<label> Your Email (required) </label>
						<input type="email" id="umail" name="email" placeholder="" class="tr_form_control">
					</div>
					<div class="form-group form_white">
						<label> Subject </label>
						<input  type="text" id="subj" name="l_name" placeholder="" class="tr_form_control">
					</div>
					<div class="form-group form_white">
						<label> Your Message </label>
						<textarea  id="msg" rows="5" class="tr_form_control tr_textarea"></textarea>
					</div>
					<div class="row">
					<div class="form-group form_white btn_50%">
						<input type="button" name="sub_sub" id="em_submit" class="tr_btn btn_50%" value="send" />
						<p id="err"></p>
					</div>
					</div>
					<div class="row">
					<div class="col-lg-6">
						<div class="tr_contact_right">
							<div class="tr_contact_right_head">
								Address:<br>
								Rm. 1011, 10F., No.290, Sec. 4, Zhongxiao E. Rd., Da’an Dist., Taipei City 10694, Taiwan (R.O.C.)
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="tr_contact_right">
							
								<div class="tr_ph_no">
									Phone: <br>(+886)2-2771-7015 \ (+886)2-2771-7015
								</div>
							
						</div>
					</div>
				</div>



				</div>
			</div>	
			</div>
				<div class="col-lg-3">
			</div>
		</div>		
		
			
		</div>
	</div>
</div>