<% @title = "Home" %>

</style>

<div id="home" class="tr_page_section1" >
	<!--Home Slider start-->
	<div class="rwd">
	<%= render partial: 'shared/index/slider' %>
	<!--Home Slider end-->
	</div>
	
	<%= render partial: 'shared/footer' %>
</div>


