<% @title= "About Couture Consulting" %> <!--About Finish-->

<div id="about" class="tr_page_section" data-scrollreveal="enter from the bottom over 2s">
	<div class="space"></div>
	<div class="container">
		<div class="text-center">
			<div class="tr_head_title push-down-10">
				<h3> The Professional Global Team</h3>
			</div>
			<p>
				Couture Consulting offers a fully bespoke service tailored to our clients’ individual requirements.
			</p>
		</div>
		<br>
		<div class="row article-area">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h4 class="couture-title"><span>We can offer</span></h4>
						<ul class="list-group">
							<li class="list-group-item">
								Direct Head Hunting
							</li>
							<li class="list-group-item">
								Targeted Confidential Head Hunting
							</li>
							<li class="list-group-item">
								Informal Referance Check
							</li>
							<li class="list-group-item">
								Cultural Background Information
							</li>
							<li class="list-group-item">
								Salary Surveys
							</li>
							<li class="list-group-item">
								Market Information
							</li>
							<li class="list-group-item">
								Employee Career Development
							</li>
							<li class="list-group-item">
								Video Conference Calls
							</li>
							<li class="list-group-item">
								Complete Candidate Screening
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h4 class="couture-title"><span>RECRUTING SORT</span></h4>
						<ul class="list-group">
							<li class="list-group-item">
								In-store retail management positions
							</li>
							<li class="list-group-item">
								buying and merchandising
							</li>
							<li class="list-group-item">
								Operations
							</li>
							<li class="list-group-item">
								Design
							</li>
							<li class="list-group-item">
								PR & Marketing
							</li>
							<li class="list-group-item">
								Field-based roles
							</li>
							<li class="list-group-item">
								Human resources
							</li>
							<li class="list-group-item">
								Visual merchandising opportunities
							</li>
							<li class="list-group-item">
								More
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row article-area">
			<div class="col-md-6 col-md-offset-3">
				<h4 class="couture-title"><span>STANDARD SERVICE</span></h4>
			</div>
			<div class="col-md-12">
				<div class="row bs-wizard" style="border-bottom:0;">
					<div class="col-xs-6 bs-wizard-step complete">
						<div class="text-center bs-wizard-stepnum">
							Step 1
						</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="bs-wizard-info text-center">
							Meet with clients to discuss the role in detail and sign the terms of service(TOS).
						</div>
					</div>

					<div class="col-xs-6 bs-wizard-step complete">
						<!-- complete -->
						<div class="text-center bs-wizard-stepnum">
							Step 2
						</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="bs-wizard-info text-center">
							Direct face-to-face headhunting, networking, and targeted telephone approaches. All candidates are completely screened face-to-face prior to being submitted.
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row bs-wizard" style="border-bottom:0;">
					<div class="col-xs-4 bs-wizard-step complete">
						<!-- complete -->
						<div class="text-center bs-wizard-stepnum">
							Step 3
						</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="bs-wizard-info text-center">
							Shortlist suitable candidates to the client and assist the hiring decision.
						</div>
					</div>
					<div class="col-xs-4 bs-wizard-step complete">
						<!-- active -->
						<div class="text-center bs-wizard-stepnum">
							Step 4
						</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="bs-wizard-info text-center">
							Package negotiation and reference check with the client before offer signed.
						</div>
					</div>
					<div class="col-xs-4 bs-wizard-step complete">
						<!-- active -->
						<div class="text-center bs-wizard-stepnum">
							Step 5
						</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="bs-wizard-info text-center">
							Assist to on board process and follow up steps.
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row article-area">
			<div class="col-md-6 col-md-offset-3">
				<h4 class="couture-title"><span>Location</span></h4>
			</div>
			<div class="col-md-12">
				<ul class="tr_main_project_slider location" id="news_slider">
					<li>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Taiwan</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/507954052.jpg" alt=""> </a>
								</div>
							</div>
						</div>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Hong Kong</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/486878520.jpg" alt=""> </a>
								</div>
							</div>
						</div>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Beijing</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/482334184.jpg" alt=""> </a>
								</div>
							</div>
						</div>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Shanghai</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/480872000.jpg" alt=""> </a>
								</div>
							</div>
						</div>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Macau</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/493628120.jpg" alt=""> </a>
								</div>
							</div>
						</div>
						<div class="tr_one_third tr_common_slider">
							<div class="tr_recentimage">
								<div class="tr_overdefult_location">
									<div class="location_name">
										<h4>Myanmar</h4>
									</div>
								</div>
								<div class="tr_image">
									<a href="#"> <img src="/images/prettyPhoto/location/480872000.jpg" alt=""> </a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--About Finish-->