<% @title= "Our Solutions" %> <!--About Finish-->

          <a href="/"> <img class="logo" src="/images/logo-dark.png"></a>

<div id="about" class="tr_page_section" data-scrollreveal="enter from the bottom over 2s">

	<section id="services" class="container section ft-centered">
          <%= render partial: 'shared/hamburger' %>
    <div class="row">
          <div style="background-image: url(/images/prettyPhoto/arrow_background.jpg)" class="col-md-12 category-picture">
              <header class="sec-heading">
                <h2>What we do</h2>
                <span class="subheading">STANDARD SERVICE</span>
              </header>

       

         
          <div class="col-md-1">
          </div>

          <div class="col-md-2">
            <header class="sec-heading">
                <h4>Kick-off</h4>
            </header>
              <div class="tr_image">
                <img src="/images/prettyPhoto/step1.png" alt=""> 
              </div>
              
          </div>

          <div class="col-md-2">
            <header class="sec-heading">
                <h4>2-4weeks</h4>
            </header>
            <div class="tr_image">
                <img src="/images/prettyPhoto/step2.png" alt=""> 
            </div>

          </div>
          
          <div class="col-md-2">
            <header class="sec-heading">
                <h4>2-4weeks</h4>
            </header>
            <div class="tr_image">
                <img src="/images/prettyPhoto/step3.png" alt=""> 
            </div>

          </div>

          <div class="col-md-2">
            <header class="sec-heading">
                <h4>1week</h4>
            </header>
            <div class="tr_image">
                <img src="/images/prettyPhoto/step4.png" alt=""> 
            </div>

          </div>

          <div class="col-md-2">
            <header class="sec-heading">
                <h4>up to 3-6 months</h4>
            </header>
            <div class="tr_image">
                <img src="/images/prettyPhoto/step5.png" alt=""> 
            </div>
          </div>

          <div class="col-md-1">
          </div>

    </div>






         


          <div class="row article-area">
            <div class="col-md-6 col-md-offset-3">
              <h4 class="couture-title"><span>Tailor-made For Your Needs</span></h4>
            </div>
          </div>

          <div class="row article-area">
          <div class="col-md-6">
            <div class ="img_right">
          <img src="/images/prettyphoto/suit.jpg">
          </div>
          </div>

          <div class="col-md-6">
            <ul class="padding_top">
  　         
  　          <li><h5>▦ Talent Market Research</h5></li>
              <li><h5>▦ Cultural Background Information</h5></li>
              <li><h5>▦ Competitor Analysis</h5></li>
              <li><h5>▦ Informal Reference Checking</h5></li>
              <li><h5>▦ Talent Mapping</h5></li>
              <li><h5>▦ Salary Surveys</h5></li>
              <li><h5>▦ Employee Career Development</h5></li>
              <li><h5>▦ Targeted Confidential Headhunting</li>
  
            </ul>
          </div>



        </section><!-- / .ft-frames -->
</div>






<!-- ========== Scripts ========== -->

        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/google-fonts.js"></script>
        <script src="/js/jquery.easing.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="/js/smoothscroll.js"></script>
        <script src="/js/jquery.localScroll.min.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/jquery.parallax.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/countup.min.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.mb.YTPlayer.min.js"></script>
        <script src="/js/jquery.ajaxchimp.js"></script>

<!-- Definity JS -->
        <script src="/js/main.js"></script>
