<% @title= "Watch" %> <!--About Finish-->

<div id="about" class="tr_page_section" data-scrollreveal="enter from the bottom over 2s">
	<div class="space"></div>	
	<%= render partial: 'shared/hamburger' %>
		<div class="row">
			<div style="background-image: url(/images/prettyPhoto/watch_new1.jpg)" class="col-md-12 category-picture">
				
				<a href="/"> <img class="logo" src="/images/logo-dark.png"></a>
				
			</div>
		</div>

		<div class="text-center-fix">	
			<h4 class="couture-title"><span></span></h4>
		</div>
		</div>
		<div class="tr_new_slider_box">
			<ul class="tr_main_project_slider" id="news_slider">
				<li>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
							<a href="/public/about"> 
								<div class="tr_recentdescription">
									<h3>About Couture</h3>
									<div class="tr-home-portfolio-categories">
										balabala  -  balabal   - balabala  -balabala
									</div>
								</div>
							</div>
							<div class="tr_image_logo">
								<img src="/images/prettyphoto/LOGO-PNG-5.jpg" alt="">  
							</div>
							</a>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
								<div class="tr_recentdescription">
									<a href="/public/solutions" title="Video in Portfolio"> <h3>Solution</h3> 
									<div class="tr-home-portfolio-categories">
										balabala  -  balabal   - balabala  -balabala
									</div>
									</a>
								</div>
							</div>
							<div class="tr_image">
								<a href="#"> <img src="/images/prettyphoto/solution-1.jpg" alt=""> </a>
							</div>
						</div>
					</div>
					<div class="tr_one_third tr_common_slider">
						<div class="tr_recentimage">
							<div class="tr_overdefult">
							<a href="/public/contact"</a>
								<div class="tr_recentdescription">
									 <h3>Contact Us</h3> 
									<div class="tr-home-portfolio-categories">
										balabala  -  balabal   - balabala  -balabala
									</div>
								</div>
							</div>
							<div class="tr_image">
							 <img src="/images/clients/contact-usfixed.jpg" alt="">
							</div>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>



</div>