<% @title= "Woman" %> <!--About Finish-->

<div id="about" class="tr_page_section" data-scrollreveal="enter from the bottom over 2s">
	<div class="space"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img class="category" src="/images/prettyPhoto/stock-vector-asia-skyline-detailed-silhouette-vector-illustration-239488852.jpg">
			</div>
		</div>

		<div class="text-center">	
			<h4 class="couture-title"><span>Woman balabala</span></h4>
		</div>


		<div class="category-content">
			<div class="text-center">
			<p>
				We are Asia focused, retail focused and talent focused.
				<br>
				Couture Consulting is a luxury and fashion focused consultancy in Taiwan.
				<br>
				Our commitment to ensures that only the excellence and diverse service is provided to both clients and candidates.
				<br>
				<br>
			</p>
			</div>
		</div>
	</div>
</div>